#root {
  margin: 0;
  overflow: hidden;
}

.app-box-container {
  &.MuiBox-root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

@media (min-height: 375px) {
  .app-box-container {
    &.MuiBox-root {
      min-height: 93vh;
    }
  }
}

@media (min-height: 689px) {
  .app-box-container {
    &.MuiBox-root {
      min-height: 100vh;
    }
  }
}

@media (min-height: 1020px) {
  .app-box-container {
    &.MuiBox-root {
      min-height: 93vh;
    }
  }
}
